
<div class="page">
  <!-- <i><b>To do today!</b></i> -->
  <div class="card-container" d-flex>
    <div class="card-title">
      <div class="card-body">
        <span>Welcome {{currentUser?.username}}</span>
        <table>
          <thead>
            <tr>
              <!-- <th>Pet Name</th>
              <th>Medication</th>
              <th>Dosage</th>
              <th>Frequency</th> -->
              <!-- <button (click)="addPet()">Add</button> -->
            </tr>
          </thead>
          <tbody>
            <div>
              <span>
                <tr>Pet Name</tr>
                <button>add</button>
                <button>edit</button>
                <button>delete</button>
              </span>
            </div>
            <div>
              <span>
                <tr>Medication</tr>
                <button>add</button>
                <button>edit</button>
                <button>delete</button>
              </span>
            </div>
            <div>
              <span>
                <tr>Dosage</tr>
                <button>add</button>
                <button>edit</button>
                <button>delete</button>
              </span>
            </div>
            <div>
              <span>
                <tr>Frequency</tr>
                <button>add</button>
                <button>edit</button>
                <button>delete</button>
              </span>
            </div>
            <tr>
              <!-- <td>{{pet.name}}</td>
              <td>{{pet.medication}}</td>
              <td>{{pet.dosage}}</td>
              <td>{{pet.frequency}}</td>

              <td style="cursor: pointer;">
                <button (click)="editPet()">Edit</button>
                <button (click)="deletePet()">Delete</button>
              </td> -->
            </tr>
          </tbody>
        </table>
        <div>
          <p>Remember to give Bruno 2.5mg of Pimobendan 2X today. </p>
          <!-- <p>Remember to give {{pet.name}} {{pet.dosage}} of {{pet.medication}} {{pet.frequency}} today.</p> -->
        </div>
      </div>
    </div>

  </div>



</div>

