
.page {
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-image: url('https://img.freepik.com/premium-photo/blank-notepad-is-top-wood-office-desk-table_887552-20735.jpg');
}

.card-body {
  background-color: lightsalmon;
  position:absolute;
  left: 33%;
  top: 30%;
  right: 33%;
  bottom: 20%;
}
