// h1 {
// 	color: #333;
// 	text-align: center;
// 	font-family: Arial, sans-serif;
// }

// ul {
// 	list-style-type: none;
// 	padding: 0;
// 	margin: 0 auto;
// 	max-width: 600px;
// }

// li {
// 	display: flex;
// 	align-items: center;
// 	justify-content: space-between;
// 	padding: 10px;
// 	border-bottom: 1px solid #ccc;
// }

// span {
// 	margin-left: 10px;
// }

// input[type='checkbox'] {
// 	margin: 0 10px;
// }

// button {
// 	padding: 5px 10px;
// 	margin-left: 10px;
// 	border: none;
// 	border-radius: 5px;
// 	cursor: pointer;
// }

// button:first-of-type {
// 	background-color: #4caf50;
// 	color: white;
// }

// button:not(:first-of-type) {
// 	background-color: #f44336;
// 	color: white;
// }

// button:hover {
// 	opacity: 0.8;
// }

// .todo-form {
// 	display: flex;
// 	justify-content: center;
// 	margin: 20px 0 20px 0;
// }

.page {
  // display: flex;
  // flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-image: url('https://img.freepik.com/premium-photo/blank-notepad-is-top-wood-office-desk-table_887552-20735.jpg');
}

.card-body {
  // height: auto;
  // width: 33%;
  background-color: lightsalmon;
  // margin-left: 33%;
  // margin-top: 20%;
  position:absolute;
  left: 33%;
  top: 30%;
  right: 33%;
  bottom: 20%;
}
