
<div class="page">
  <div class="card-container" d-flex>
    <div class="card-title">
      <div class="card-body">
        <span>Welcome {{currentUser?.first_name}}</span>
        <ul>
          @for (pet of currentUser?.pets; track pet) {
            <li>
              {{pet.name}}
              <button (click)="pleaseRemoveThisPetFromCurrentUser(pet)">Destroy this pet</button>

              <ul>
                @for (prescription of pet.prescriptions; track prescription) {
                  <li>
                    <p>Remember to give {{pet.name}} {{prescription.med.dosage}} of {{prescription.med.name}} {{prescription.frequency}}.</p>
                  </li>
                }
              </ul>
            </li>
          }
        </ul>
        <div>
          <button (click)="addANewPetToTheCurrentUserPlease()">Create a pet</button>
          <button (click)="pretendToBeBob()">Pretend we are bob</button>
          <button (click)="reloadBootstrapData()">Reload bootstrap data</button>
        </div>
      </div>
    </div>

  </div>

</div>

